footer{
    height: 10dvh;
    background: rgb(52,73,94);
    background: linear-gradient(90deg, rgba(52,73,94,1) 0%, rgba(155,89,182,1) 25%, rgba(209,154,231,1) 50%, rgba(155,89,182,1) 75%, rgba(52,73,94,1) 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}