@import url(variables.css);
@import url(header.css);
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--primary-dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    min-height: 80dvh;
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0;
}

thead{
    background-color: var(--secondary);
}

.jobOffer{
    background-color: var(--primary);
    min-height: 4rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    padding: 1rem;
    transition: ease-in-out 0.5s;
}

.jobOffer:hover{
    border-left: 5rem solid green;
    transition: ease-in-out 0.5s;

}

.status{
    background-color: var(--secondary-light);
    width: 5rem;
    border-radius: 5rem;
    border: 3px solid var(--secondary);
    text-align: center;
    padding: 0.1rem 0.5rem;
}